# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno
.env

# Base de datos local
db.sqlite3

# Django
staticfiles/
media/

# Editores / SO
.vscode/
.idea/
.DS_Store
