{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <strong>{{ customer_record.first_name }} {{ customer_record.last_name }}</strong>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Email: </strong>{{ customer_record.email }}
      </p>
      <p class="card-text">
        <strong>Fono: </strong>{{ customer_record.phone }}
      </p>
      <p class="card-text">
        <strong>Dirección: </strong>{{ customer_record.address }}
      </p>
      <p class="card-text">
        <strong>Ciudad: </strong>{{ customer_record.city }}
      </p>
      <p class="card-text">
        <strong>Creado en: </strong>{{ customer_record.created_at }}
      </p>
      <p class="card-text">
        <strong>ID: </strong>{{ customer_record.id }}
      </p>

      <!-- Mostrar las notas asociadas -->
      <h3>Notas:</h3>
      <ul>
        {% for note in notes %}
          <li>
            <strong>{{ note.author.username }}</strong> - {{ note.created_at }}<br>
            {{ note.content }}
          </li>
        {% empty %}
          <li>No hay notas para este cliente.</li>
        {% endfor %}
      </ul>

    </div>
  </div>

  <br/><br/>
  <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Borrar</a>
  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Actualizar Cliente</a>

{% endblock %}
